<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者ホーム画面</title>
    <style>
        .button-container {
            text-align: left;
            margin-left: 20px;
        }

        .admin-button {
            display: block;
            width: 200px;
            padding: 10px;
            margin: 10px 0;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <h1 style="text-align:center">管理者用ホーム画面</h1>

    <div class="button-container">
        <a href="/admin/user"><button class="admin-button">ユーザ一覧</button></a>
        <a href="/adomin/lock"><button class="admin-button">ロック画面</button></a>
        <a href="/adomin/resv"><button class="admin-button">予約画面</button></a>
        <a href="/adomin/register"><button class="admin-button">登録URL一覧</button></a>
        <a href="/adomin/user/new"><button class="admin-button">ユーザ新規作成</button></a>
    </div>
</body>
</html>
