<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規ユーザ登録</title>
</head>
<body>
    <h1>新規ユーザの登録</h1>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">oecuアカウント</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">パスワード<p>8文字以上の半角英数字記号</p></label>
      <textarea class="form-control" id="exampleFormControlTextarea1"></textarea>
    </div>
    <div class="form-check">
      <label class="form-check-label" for="flexCheckDefault">
        Default checkbox
      </label>
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    </div>
</body>
</html>