<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" dir="ltr">
<head th:replace="~{fragments/head :: head(~{::additionalHead})}">
    <th:block th:fragment="additionalHead">
        <title>ユーザ一覧</title>
        <!-- ヘッダに追加する場合ここに書く -->
    </th:block>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <h1>ユーザ一覧</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ユーザID</th>
                <th>氏名</th>
                <th>メールアドレス</th>
                <th>電話番号</th>
                <th>ロール</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.idStr}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phone}"></td>
                <td th:text="${user.role}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>