<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" dir="ltr">
<head th:replace="~{fragments/head :: head(~{::additionalHead})}">
    <th:block th:fragment="additionalHead">
        <title>免責事項</title>
        <!-- ヘッダに追加する場合ここに書く -->
    </th:block>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <!-- ここから内容 -->
    <section>
        <h2>第一条　総則</h2>

        <h3>1項（利用規約の承諾）</h3>
        <p>当社は本規約を定め、申込者は本規約の内容を確認し、申込を行なうに際し本規約の内容を承諾したものとします。</p>

        <h3>2項（用語の定義）</h3>
        <ul>
            <li>申込後、会員登録をして頂き、それが確認できた時点より会員とします。</li>
            <li>「組織名」を当社とします。</li>
            <li>ロッカーをマイロッカーとします。</li>
            <li>ロッカー内の品物を収容品とします。</li>
            <li>警察及び消防局並びにその他公的機関を当局とします。</li>
        </ul>

        <h3>3項（規約変更の承諾）</h3>
        <p>当社は、本規約を変更する場合があります。規約変更の内容については、合理的な方法により事前または速やかに会員に通知するものとします。会員は、通知後にロッカーの利用を継続した場合、変更後の規約に同意したものとみなします。</p>
        </section>

        <section>
        <h2>第二条　利用規約</h2>

        <h3>1項（利用時間について）</h3>
        <p>利用時間は「7：00～22：00」までとします。<br>
        ※不測の事情等により業務が円滑に行えない場合には会員への事前通知無く、一時的にご利用時間を制限、または営業を中断することがあります。</p>

        <h3>2項（収容できないもの）</h3>
        <ul>
            <li>現金その他貴重品、有価証券類、パスポート、これらに準ずるもの。</li>
            <li>爆発物、揮発性の気体等及び危険物。</li>
            <li>銃砲、刀剣類等犯罪に使用される恐れのあるもの。又は法律で所持、携帯を禁じられているもの。</li>
            <li>臭気を発するもの、不潔なもの、腐敗、変質しやすいもの。又ロッカー内及び室内を棄損、汚損する恐れのあるもの。</li>
            <li>その他保管に適していないと認められるもの。</li>
        </ul>

        <h3>3項（収容品の引取りが無い場合の措置）</h3>
        <p>ロッカーの利用期間満了の日から、1ヶ月経過して収容品の引取りが無い場合は、会員が収容品に対する権利を放棄したものとみなし、収容品を当社において処分いたします。</p>

        <h3>4項（異常利用処置の承諾）</h3>
        <p>当社の方で会員の収容品及び利用状況に問題があると判断した場合、会員の承諾なしに以下の内容を行なえるものとします。</p>
        <ul>
            <li>収容品の出し入れ時の立会い</li>
            <li>ロッカーの開扉</li>
            <li>収容品の処分</li>
            <li>当局への通報と会員の情報及び収容品の開示</li>
        </ul>

        <h3>5項（当局立入りについて）</h3>
        <p>当局の関係者が当社内において立入り検査等の要請が有った場合、当社は会員に通知する事なく当局に協力するものとします。</p>
        </section>

        <section>
        <h2>第三条　解約</h2>

        <h3>1項（解約の申し出）</h3>
        <p>会員からの解約は以下に定めるものとします。</p>
        <ul>
            <li>前月の15日までに申し出下さい。</li>
        </ul>

        <h3>2項（当社からの解約）</h3>
        <p>会員が以下に定める内容に該当する場合は、その時点で会員に通知する事無く、解約を行います。</p>
        <ul>
            <li>第二条2項の各項目に該当した場合。</li>
            <li>当社の施設等に重大な損害を与えた場合。</li>
            <li>その他、公序良俗に照らして当社が会員として不適切だと判断した場合。</li>
        </ul>
        </section>

        <section>
        <h2>第四条　賠償責任</h2>

        <h3>1項（会員の賠償責任）</h3>
        <p>会員が当社の施設等を破損した場合、又は第三者に損害を与えた場合等、当社又は第三者に会員の責任と負担において賠償していただきます。</p>

        <h3>2項（当社の賠償責任）</h3>
        <p>収容品の紛失・棄損によって損害が発生した場合については、当社に故意または重大な過失があると認められる場合を除き、当社は一切の損害賠償その他の責任を負いません。</p>

        <h3>3項（当社の賠償責任外事項）</h3>
        <ul>
            <li>第二条7項（収容できないもの）を収容された場合。</li>
            <li>当局から収容品の提出を求められた場合。</li>
            <li>天災、事故、その他当社の責に帰さない場合。</li>
        </ul>
        </section>

        <section>
        <h2>第五条　個人情報</h2>

        <h3>1項（プライバシー保護）</h3>
        <p>当社は、プライバシー保護を負うものとします。会員の行動に対する当局より問合せがあった場合以外で、会員の情報を承諾なしに開示することはありません。</p>
    </section>
</body>
</html>