<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" dir="ltr">
  <head th:replace="~{fragments/head :: head(~{::additionalHead})}">
  <th:block th:fragment="additionalHead">
    <title>ログイン</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  </th:block>
</head>
<body>
  <div th:replace="~{fragments/header :: header}"></div>
  <h1 class="text-center">ログイン画面</h1>
  <div class="text-center">
    <form th:action="@{/login}" method="post">
    <input type="text" name="userid" placeholder="ユーザID" required /><p></p>
    <input type="password" name="password" id="inPassword" placeholder="パスワード" required />
    <button class="btn btn-outline-secondary" type="button" id="toggle-password">
      <i class="bi bi-eye-slash" id="eyeIcon"></i>
    </button><p></p>
    <button type="submit">Login</button>
  </form>
  </div>
  
  <div th:if="${param.s != null and param.s[0] == '0'}">
    <div class="alert alert-success" role="alert">
      メッセージ: パスワードかユーザーIDが違います
    </div>
  </div>
  <div th:if="${param.s != null and param.s[0] == '1'}">
    <div class="alert alert-success" role="alert">
      メッセージ: ログアウトしました
    </div>
  </div>
  <script>
    // eyeIconのclickクリックイベント
    $("#eyeIcon").on("click", () => {
      // eyeIconのclass切り替え
      $("#eyeIcon").toggleClass("bi-eye-slash bi-eye");

      // inputのtype切り替え
      if ($("#inPassword").attr("type") == "password") {
        $("#inPassword").attr("type", "text");
      } else {
        $("#inPassword").attr("type", "password");
      }
    });
  </script>
  <div class="text-center"><a href="/reset">パスワードを忘れた方はこちら</a></div>
</body>
</html>