<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
</head>
<body>
    <h1>ログイン画面</h1>
    <form th:action="@{/login}" method="post">
        <input type="text" name="username" placeholder="ユーザID" required />
        <input type="password" name="password" placeholder="パスワード" required />
        <button type="submit">Login</button>
    </form>
    <div th:if="${param.s != null and param.s[0] == '0'}">
    Invalid username or password.
    </div>
    <div th:if="${param.s != null and param.s[0] == '1'}">
    You have been logged out.
    </div>
</body>
</html>