<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" dir="ltr">
  <head th:replace="~{fragments/head :: head(~{::additionalHead})}">
  <th:block th:fragment="additionalHead">
    <title>パスワード再設定</title>
    <!-- ヘッダに追加する場合ここに書く -->
  </th:block>
</head>
<body>
  <div th:replace="~{fragments/header :: header}"></div>
  <!-- ここから内容 -->
    <h1>パスワード再設定</h1>
    <form th:action="@{/admin/user/new}" method="post">
        <input type="password" name="password" placeholder="パスワード" required />
        <input type="password" name="passwordCheck" placeholder="パスワード確認" required />
        <button type="submit">Login</button>
    </form>
</body>
</html>