<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" dir="ltr">
<head th:replace="~{fragments/head :: head(~{::additionalHead})}">
    <th:block th:fragment="additionalHead">
        <title>予約ページ</title>
        <!-- ヘッダに追加する場合ここに書く -->
    </th:block>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <form id="resvForm" th:action="@{/admin/resv}" method="post">
        <input type="datetime-local" name="startTimeLocal" id="startTime" />
        <input type="datetime-local" name="endTimeLocal" id="endTime" />
        <input type="number" name="lockId" />
        <input type="hidden" name="startTime" id="startTimeUtc" />
        <input type="hidden" name="endTime" id="endTimeUtc" />
        <input type="submit" />
    </form>

    <script>
        document.getElementById('resvForm').addEventListener('submit', function (e) {
            const startLocal = document.getElementById('startTime').value;
            const endLocal = document.getElementById('endTime').value;
            if (startLocal) {
                const startDate = new Date(startLocal);
                document.getElementById('startTimeUtc').value = startDate.toISOString(); // e.g. "2025-06-12T04:00:00.000Z"
            }
            if (endLocal) {
                const endDate = new Date(endLocal);
                document.getElementById('endTimeUtc').value = endDate.toISOString();
            }
        });
    </script>
</body>
</html>