<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">ESP-Lock</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">予約する</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/lock">解錠・施錠する</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <a th:if="${username != 'Guest'}" class="nav-link dropdown-toggle" th:text="'ログイン中のユーザ: ' + ${username}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                
              </a>
              <a th:if="${username == 'Guest'}" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                あなたはログインしていません
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                  <li th:if="${username == 'Guest'}"><a class="dropdown-item" href="/login">ログイン</a></li>
                  
                  <!-- ログアウトは POST リクエスト -->
                  <li th:if="${username != 'Guest'}">
                      <form th:action="@{/logout}" method="post">
                          <button type="submit" class="dropdown-item">
                              ログアウト
                          </button>
                      </form>
                  </li>

                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/admin">管理者用ページ</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</body>
</html>